@font-face {
  font-family:  Functionpro LightOblique;
  src:  url(font/FunctionPro-LightOblique.otf);
}

@font-face {
  font-family:  Functionpro Light;
  src:  url(font/FunctionPro-Light.otf);
}

@font-face {
  font-family:  Functionpro Medium;
  src:  url(font/FunctionPro-Medium.otf);
}

@font-face {
  font-family:  Functionpro ExtraBold;
  src:  url(font/FunctionPro-ExtraBold.otf);
}

@font-face{
  font-family: Functionpro Demi;
  src: url(font/FunctionPro-Demi.otf);
}

@font-face{
  font-family: Functionpro mo;
  src: url(font/FunctionPro-MediumOblique.otf);
}


a.button {
  position: fixed;
  z-index: 5;
  width: 35px;
  height: 35px;
  font-size: 20px;
  padding-left: 20px;
  padding-top: -50px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

a.button:hover{
  opacity: 1;
}

body {
/*	width: 100%;
	height: 100%;*/
  color: #000;
  background-color: #000000;
  line-height: 1.3;
  text-transform: uppercase;

/*  background: radial-gradient(circle at top, #000000, #1b1bff, #0000ff);
  background-size: 100% 100%;
  animation: gradient 5s ease infinite;*/

  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at bottom, #000000, #1b1bff, #0000ff);
  background-size: 500% 700%;
  animation: radial-gradient 15s ease infinite;

/*  background: radial-gradient(farthest-side, #ffffff, #0000ff);*/


/*  background: radial-gradient(
  250px 800px at 60% 13%, #ffffff, #0000ff);*/


/*
  background: radial-gradient(ellipse at top, #0000ff, transparent),
            radial-gradient(ellipse at bottom, #000000, transparent);*/
}



@keyframes radial-gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 80% 60%;
  }
  100% {
    background-position: 10% 50%;
  }
}


header{
  height: 156px;
  width: 268px;
  margin: 20px auto;
}

section .text {
  z-index: 1;
  font-family: Functionpro Demi;
  font-size: 22px;
  color: #000;
/*  position: absolute;*/
  width: 800px;
/*  top: 50%;
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

p.first {
  font-family: Functionpro LightOblique;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 60px;
}

p {
  margin-bottom: 30px;
}

.bg{
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 80px auto;
}

.hermatext{
  font-family: Functionpro Demi;
  font-size: 22px;
  color: #000;
  width: 1000px;
  margin: 60px auto;
  margin-top: 120px;
  text-transform: uppercase;
}


footer{
  font-family: Functionpro Light;
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left:auto;
  margin-right:auto;
}

footer div{
    font-size: 12px
}

.name1,.name2,.name3{
  margin-right: 36px
}


span {
  font-family: Functionpro Medium;
}
