@font-face {
  font-family:  Functionpro LightOblique;
  src:  url(font/FunctionPro-LightOblique.otf);
}

@font-face {
  font-family:  Functionpro Light;
  src:  url(font/FunctionPro-Light.otf);
}

@font-face {
  font-family:  Functionpro Medium;
  src:  url(font/FunctionPro-Medium.otf);
}

@font-face {
  font-family:  Functionpro ExtraBold;
  src:  url(font/FunctionPro-ExtraBold.otf);
}

@font-face{
  font-family: Functionpro Demi;
  src: url(font/FunctionPro-Demi.otf);
}

@font-face{
  font-family: Functionpro mo;
  src: url(font/FunctionPro-MediumOblique.otf);
}

@font-face{
  font-family: Functionpro Book;
  src: url(font/FunctionPro-Book.otf);
}


a.button {
  position: fixed;
  z-index: 5;
  width: 35px;
  height: 35px;
  font-size: 20px;
  padding-left: 20px;
  margin-top: -12px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

a.button:hover{
  opacity: 1;
}

body {
  color: #000;
  background-color: #000000;
  line-height: 1.3;

  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at bottom, #000000, #1b1bff, #0000ff);
  background-size: 500% 700%;
  animation: radial-gradient 15s ease infinite;
}



@keyframes radial-gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 80% 60%;
  }
  100% {
    background-position: 10% 50%;
  }
}

header{
  height: 156px;
  width: 94px;
  margin: 20px auto;
}

h1 {
  padding-top: 46px;
  margin: -50px 0;
  height: 95px;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

h1 img {
  width: 94px;
}


section .text {
  z-index: 1;
  font-family:  Functionpro Book;
  font-size: 18px;
  color: #000;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

p.first {
  font-family: Functionpro LightOblique;
  margin-bottom: 50px;
  margin-top: -20px;
}

p {
  margin-bottom: 30px;
}

.bg{
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 80px auto;
}

.hermatext{
  font-family:  Functionpro Book;
  font-size: 18px;
  color: #000;
  width: 1000px;
  margin: 60px auto;
  margin-top: 120px;
}


footer{
  font-family: Functionpro Light;
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left:auto;
  margin-right:auto;
}

footer div{
    font-size: 12px
}

.name1,.name2,.name3{
  margin-right: 36px
}


span {
  font-family: Functionpro Medium;
}
