@font-face {
  font-family:  Functionpro Condensedbold;
  src:  url(font/FunctionPro-CondensedBold.otf);
}

body {
	width: 100%;
	height: 100%;
}

.fullscreen-bg {
  	position: fixed;
  	right: 0;
  	bottom: 0;
  	min-width: 100%; 
  	min-height: 100%;
	opacity: 0.7;
}


section .text {
  font-family: Functionpro Condensedbold;
  font-size: 20px;
  color: white;
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}