.fullscreen-bg {
  	position: fixed;
  	right: 0;
  	bottom: 0;
  	min-width: 100%; 
  	min-height: 100%;
	/*opacity: 0.7;*/
}

section.some-sounds{
	z-index:1;
	width: 100vw;
	height: 100vh;
}

div.circle {
	width: 100px;
	height: 100px;
	/*background-color: #0000ff;*/
}

div.a{
	position: fixed;
	top: 10%;
	left: 5%;
}

div.b{
	position: fixed;
	bottom: 25%;
	right: 20%;
}

div.c{
	position: fixed;
	top: 25%;
	left: 35%;
}

div.d{
	position: fixed;
	top: 5%;
	right: 5%;
}

div.e{
	position: fixed;
	bottom: 15%;
	left: 15%;
}

div.f{
	position: fixed;
	top: 15%;
	left: 60%;
}

div.g{
	position: fixed;
	bottom: 5%;
	left: 45%;
}





