@font-face{
  font-family: Functionpro Boldoblique;
  src: url(font/FunctionPro-BoldOblique.otf);
}

body {
	font-size: 18px;
	line-height: 1.5;
	
	background-color: #000000;
	color: #0000ff;
  font-family: Functionpro Boldoblique, helvetica;
	margin: 20px auto;
	width: 800px;
  overflow-x: hidden;
}

h1 {
  padding-top: 46px;
  margin: -50px 0;
  height: 95px;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}


h1 img {
  width: 94px;
}

section.main a {
  margin-left: 5px;
  text-decoration: none;
  position: absolute;
  color: #0000ff;
}

section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

section.main_transition {
  /*display: none; */
  opacity: 0;
  /*z-index: 1;*/

  transition: opacity 3.8s ease;
    display: none;


}

.main-body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.fullscreen-bg {
    z-index: -1;

  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

div.all-squares {
  /*width: 730px;*/
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1000px;
}

div.all-squares div{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 100px;
}

div.all-squares a{
  display: inline-block;
  bottom: 0;
  margin-left: 0;
}

span.square {
  width: 200px;
  height: 200px;
  background-color: #0000ff;
  display: inline-block;
/*  margin: 0 20px;*/

   transition-property: transform;
   transition-duration: 0.5s;
}

a span:hover {
    animation-name: rotate; 
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.interactive2 span:hover {
    animation-name: rotate2; 
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate2 {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

section.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #0000ff;
  background-color: #000000;
  
  /*background-image: url(images/Intro.jpg);*/
}

section.intro_transition {
  transition: opacity 3s ease-out;
  
}

section h2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100%;
  margin: 0 auto;
}

.mobile {
  opacity: 0;
}

@media (max-width: 440px) {

  section.intro {
    display: none;
  }

  section.main {
    display: none;
  }

  body {
    position: fixed;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    padding: 0 10px;
    background-image: url(images/Background-08-02.jpg);
  }

.mobile {
    opacity: 1;
    color: #000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  }
