@font-face{
  font-family: Functionpro Boldoblique;
  src: url(font/FunctionPro-ExtraBoldOblique.otf);
}
  
body {
	font-family: Functionpro Boldoblique;
  font-weight: 800;
	line-height: 1.5;
	
	background-color: #000000;
	color: #ffffff;
  width: 2000px;
  height: 1800px;
  cursor: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar { width: 0 !important };

h1 {
  position: absolute;
  top: 14px;
  left: 34px;
  z-index: 1;
	font-size: 60px;
	font-weight: 700;
  /*height: 100px;*/
  
  mix-blend-mode: difference;
}

canvas{
  vertical-align: bottom;
}
